name: release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - id: vars
        run: |
          echo ::set-output name=VERSION::${GITHUB_REF#refs/*/}

      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: 17

      - uses: gradle/gradle-build-action@v2
        with:
          arguments: build modrinth
        env:
          MOD_VERSION: ${{ steps.vars.outputs.VERSION }}
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}

      - uses: actions/upload-artifact@v2
        with:
          name: adicrafter ${{ steps.vars.outputs.VERSION }}
          path: "./build/libs/**.jar"

      - uses: alexellis/upload-assets@0.2.2
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          asset_paths: '["./build/libs/*[0-9].jar"]'
